span,
h3,
p,
h1,
h2 {
	color: white;
	margin: 2em;
}

.titulo-secao h2 {
	text-align: center;
}

header {
	justify-self: center;
	background-color: black;
	border-radius: 5px;
}

main {
	justify-self: center;
	background-color: black;
	margin: 2em;
	max-width: 100em;
	border-radius: 5px;
	margin-bottom: 3em;
}

img {
	justify-self: center;
	border-radius: 15px;
	margin: 3em;
}

.adaptacao {
	display: flex;
}

.seo {
	display: flex;
}

.seo p {
	order: 1;
}

.gabe {
	max-width: 40em;
	max-height: 10em;
	scale: 170%;
}

@media (max-width: 1300px) {
	.adaptacao {
		display: flex;
		flex-direction: column;
	}

	article {
		justify-content: center;
	}

	.seo {
		display: flex;
		flex-direction: column;
	}

	.seo p {
		order: 0;
	}

	.gabe {
		max-width: 400em;
		max-height: 100em;
		scale: 100%;
	}
}
